body {
    
font-weight:normal !important;
font-size: x-large !important;
   
}

.PhoneGapCom {margin-top:0px;margin-left:0px;margin-bottom:0px;margin-right:0px;padding-top:0px;padding-left:0px;padding-bottom:0px;padding-right:0px;}
.iframe {margin-top:-17px;margin-left:-17px;margin-bottom:0px;margin-right:0px;padding-top:0px;padding-left:0px;padding-bottom:0px;padding-right:0px;}

.macgap {

    font-weight:normal !important;
    font-size: 72pt !important;
}

.copyright {
    
    font-weight:normal !important;
    font-size: small !important;

} 